# Altium Designer

ProjectOutputs
__Previews
History
Project Outputs for *
CAM for *
*.log
*.ERC
*.DRC
*.Cam
*.rep
*.htm
*.html
*.net
*.Dat
*.OutJob
*.Annotation
*.SchDocPreview
*.schPreview
*.pcblib_viewstate
*.pcbdoc_viewstate